@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.puzzleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.heading{
  margin: 10px 0;
  color: #3aa0f1;
}

.mainPuzzleContainer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100vw;

}
@media screen and (max-width: 700px) {
  .mainPuzzleContainer{
    flex-direction:column;
  }
  .realImage{
    margin-top: 20px;
    margin-right: 20px;
  }
  }
.puzzleBox{
    border: 5px solid #3aa0f1;
    cursor: pointer;
    max-width: 350px;
    height: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realImage{
  cursor: pointer;
  max-width: 350px;
  height:355px;
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puzzleBox h2{
  color: #2c85c9;
  font-family: 'Silkscreen', cursive;
  font-weight: normal;
  padding: 0;
  border-bottom: 2px solid #2c85c9;
  width: 100%;
  text-align: center;

}
.realImage h2{
  color: #2c85c9;
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Silkscreen', cursive;
  font-weight: normal;
  padding: 0;

}

.realImage img{
  max-width: 100%;
  max-height: 100%;
  
  border: 5px solid #3aa0f1;
 

}

.chooseFile {
    display: none;
  }
  label {
    color: white;
    background-color: #3aa0f1;
    font-size: 20px;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  label:hover {
    background-color: #2c85c9;
  }

  
@media screen and (max-width: 300px) {
  .puzzleBox{
    border:none
  }
  .realImage{
    border: none;
  }
  label{
    font-size: 15px;
    padding: 15px 22px;
    margin-bottom: 30px;
  }
}

.modal{
  min-height: 150px;
  text-align: center;
  color: #2c85c9;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Silkscreen', cursive;
}

.modal span{
  font-weight: normal;
}