@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
 overflow: hidden; 
 overscroll-behavior: none;
}


video,img{
  display: none;
}

#menuItems{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 5vmin;
  border: 1vmin #0065c8 solid;
  font-size: 7vmin;
  color: #0065c8;
}


button{
  font-size: 4vmin;
  padding: 2vmin 3vmin;
  background-color: #3aa0f1;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover{
  background-color: #0065c8;
}

button.startAgainBtn{
  position: absolute;
  top: 10px;
  left: 70%;
  transform: translate(-70%);
}

button.newGameBtn{
  position: absolute;
  top: 10px;
  left: 30%;
  transform: translate(-30%);
}

select{
  font-size: 4vmin;
  color: #0065c8;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1vmin;
     
}


.modal{
  min-height: 150px;
  text-align: center;
  color: #2c85c9;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Silkscreen', cursive;
  background-color: white;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal span{
  font-weight: normal;
}

.uploadFile{
  position: absolute;
  top: 50px;
  left: 20%;
  transform: translate(-30%);
}

.chooseFile {
  display: none;
}
label {
  color: white;
  background-color: #3aa0f1;
  border-radius: 10px;
  font-size: 4vmin;
  padding: 2vmin 3vmin;
  text-align: center;
  cursor: pointer;
}
label:hover {
  background-color: #2c85c9;
}
